body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pic {
    width: 150px;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom:8px solid #d8cefe;
    
}

.border-blue {
    border: 1px dotted brown;
    
}